.product {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.product_description {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.btn {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 500px) {
  .product {
    width: 100%;
  }
}